pipeline/arir_pipeline_ansi_compliant.json
{
	"name": "arir_pipeline_ansi_compliant",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "mdinfo_sqlserver_ds",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get Metadata1",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "local_sqlserver_sink",
									"type": "DatasetReference",
									"parameters": {
										"tgt_schema_name": {
											"value": "@item().tgt_schema_name",
											"type": "Expression"
										},
										"tgt_table_name": {
											"value": "@item().tgt_table_name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"exists"
								]
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get Metadata1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@activity('Get Metadata1').output.exists",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "conv_delim_to_sqlserver_table_false",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "SqlServerSink",
												"writeBehavior": "insert",
												"sqlWriterUseTableLock": false,
												"tableOption": "autoCreate"
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "Custom_Delim_DataSet",
												"type": "DatasetReference",
												"parameters": {
													"file_name": {
														"value": "@item().file_name",
														"type": "Expression"
													},
													"file_path": {
														"value": "@item().file_path",
														"type": "Expression"
													},
													"file_delim": {
														"value": "@item().delim",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "local_sqlserver_sink",
												"type": "DatasetReference",
												"parameters": {
													"tgt_schema_name": {
														"value": "@item().tgt_schema_name",
														"type": "Expression"
													},
													"tgt_table_name": {
														"value": "@item().tgt_table_name",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "update_md_info_copy1",
										"type": "Script",
										"dependsOn": [
											{
												"activity": "conv_delim_to_sqlserver_table_false",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "SHIR_SqlServer_LocalHost",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "NonQuery",
													"text": {
														"value": "@concat('update md_info set rows_read = ',activity('conv_delim_to_sqlserver_table_false').output.rowsRead, ', rows_written = ',activity('conv_delim_to_sqlserver_table_false').output.rowsCopied, ' where tgt_table_name = ''',item().tgt_table_name, ''' and tgt_schema_name = ''', item().tgt_schema_name,'''')",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "conv_delim_to_sqlserver_table_true",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "SqlServerSink",
												"preCopyScript": {
													"value": "@{concat(\n    'TRUNCATE TABLE ',\n    item().tgt_schema_name,\n    '.',\n    item().tgt_table_name\n)\n}",
													"type": "Expression"
												},
												"writeBehavior": "insert",
												"sqlWriterUseTableLock": false
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "Custom_Delim_DataSet",
												"type": "DatasetReference",
												"parameters": {
													"file_name": {
														"value": "@item().file_name",
														"type": "Expression"
													},
													"file_path": {
														"value": "@item().file_path",
														"type": "Expression"
													},
													"file_delim": {
														"value": "@item().delim",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "local_sqlserver_sink",
												"type": "DatasetReference",
												"parameters": {
													"tgt_schema_name": {
														"value": "@item().tgt_schema_name",
														"type": "Expression"
													},
													"tgt_table_name": {
														"value": "@item().tgt_table_name",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "update_md_info",
										"type": "Script",
										"dependsOn": [
											{
												"activity": "conv_delim_to_sqlserver_table_true",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "SHIR_SqlServer_LocalHost",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "NonQuery",
													"text": {
														"value": "@concat('update md_info set rows_read = ',activity('conv_delim_to_sqlserver_table_true').output.rowsRead, ', rows_written = ',activity('conv_delim_to_sqlserver_table_true').output.rowsCopied, ' where tgt_table_name = ''',item().tgt_table_name, ''' and tgt_schema_name = ''', item().tgt_schema_name,'''')",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"test": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-07-27T22:17:10Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}